.fruit-button {
  width: 200px;
  height: 200px;
  background-color: red;
  text-align: center;
  color: white;
  border: 1px solid black;
  display: inline-block;
  margin: 20px;
}

#userContainer {
  padding: 20px;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
}

#fruitContainer {
  padding: 20px;
  font-size: 24px;
  font-family: sans-serif;
}
