.fruit-button {
  width: 200px;
  height: 200px;
  text-align: center;
  font-style: bold;
  font-size: 36px;
  color: deepskyblue;
  text-shadow: 1px 2px black;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}

.apples {
  background-image: url("./images/apples.jpeg");
}

.oranges {
  background-image: url("./images/oranges.jpeg");
}

.bananas {
  background-image: url("./images/bananas.jpeg");
}

.grapes {
  background-image: url("./images/grapes.jpeg");
}

.avePriceapples, .avePriceoranges, .avePricebananas, .avePricegrapes {
  display: inline-block;
  margin: 10px;
  width: 200px;
  margin-left: 20px;
}

.invFruitapples, .invFruitoranges, .invFruitbananas, .invFruitgrapes {
  display: inline-block;
  margin: 10px;
  width: 200px;
  margin-left: 20px;
}



#userContainer {
  padding: 20px;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
}

#fruitContainer {
  padding: 20px;
  font-size: 24px;
  font-family: sans-serif;
  /*width: 100%;*/
  display: inline-block;
}

.totalCash {
  padding: 20px;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
}

html {
  font-family: sans-serif;
}

.sell-button {
  display: inline-block;
  /*padding: 20px;*/
  font-size: 24px;
  font-family: sans-serif;
  margin: 20px;
  width: 150px;
  height: 50px;
  margin: 30px 50px 10px 30px;
}

#time {
 font-family:'Orbitron', sans-serif;
 src: url('put_the_location_to_your_font.ttf or .otf');
}
