.fruit-button {
  width: 200px;
  height: 200px;
  text-align: center;
  font-style: bold;
  font-size: 36px;
  color: #91d7ee;
  text-shadow: 1px 2px black;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 2px 4px black;
}

.apples {
  background-image: url("./images/apples.jpeg");
}

.oranges {
  background-image: url("./images/oranges.jpeg");
}

.bananas {
  background-image: url("./images/bananas.jpeg");
}

.grapes {
  background-image: url("./images/grapes.jpeg");
}

.avePriceapples, .avePriceoranges, .avePricebananas, .avePricegrapes {
  display: inline-block;
  margin: 10px;
  width: 200px;
  margin-left: 20px;
}

.invFruitapples, .invFruitoranges, .invFruitbananas, .invFruitgrapes {
  display: inline-block;
  margin: 10px;
  width: 200px;
  margin-left: 20px;
}

.time {
  display: inline;
}


#userContainer {
  /*padding: 20px;*/
  /*display: block;*/
  /*font-size: 32px;*/
  font-family: sans-serif;
  font-weight: bold;
  color: #bfee91;
  text-shadow: 1px 1px black;
}

#fruitContainer {
  padding: 20px;
  font-size: 24px;
  font-family: sans-serif;
  /*width: 100%;*/
  display: inline-block;
}

#profitContainer {
  /*padding: 5px;*/
  font-size: 32px;
  font-family: sans-serif;
  color: #ffb3ff;
  text-shadow: 1px 1px black;
  margin-left: 20px;
}

#unitContainer {
  display: block;
  padding: 10px;
  margin: 10px;
}

.totalCash {
  padding: 20px;
  /*font-size: 32px;*/
  font-family: sans-serif;
  font-weight: bold;
}

html, body {
  font-family: sans-serif;
  background-color: darkgray;
}

.sell-button {
  display: inline-block;
  /*padding: 20px;*/
  font-size: 24px;
  font-family: sans-serif;
  margin: 20px;
  width: 150px;
  height: 50px;
  margin: 0px 50px 10px 30px;
  background-color: #91d7ee;
  border-radius: 10px;
  box-shadow: 2px 4px black;
}

#time {
 font-family:'Orbitron', sans-serif;
 src: url('put_the_location_to_your_font.ttf or .otf');
 color: #ffb3ff;
 text-shadow: 1px 1px black;
}
